<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="b750330d-14f8-4b78-ac1c-e6ee58f48e26" name="pedro.faria@tamtam.nl" alias="pedro-faria-tamtam-nl" type="Starter" color="" url="https://www.s1.umbraco.io/project/pedro-faria-tamtam-nl">
  <environment type="live" name="Live" id="ab3c3161-88b7-4d9e-b931-4794cb3f98a3">https://pedro-faria-tamtam-nl.s1.umbraco.io</environment>
</environments>